<div class="container">
<h1>Edit Furendo</h1>
<%= render 'shared/form', partner: @partner %>
<br>
<%= link_to "back", partners_path, class:"btn btn-primary my-2" %>

<div style = "height:100px;"></div>
</div>
<%= render 'shared/footer'%>
