<div class="container">
<h1 class="my-5  mx-auto">Index</h1>
  <ul>
    <% @partners.each do |partner| %>
      <li><%= link_to partner.first_name, partner_path(partner) %></li>
    <% end %>
  </ul>
</div>
