<div class="container">
  <%= render 'shared/form', partner: @partner %>
  <button type="button" class="button">
  <%= link_to 'GO BACK', partners_path %>
  </button>
</div>
<div style = "height:100px;"></div>
