<div class="container">
  <%= render 'shared/form', partner: @partner %>
  <button type="button" class="btn btn-primary" style="margin-left: 12px; margin-top: 16px;">
  <%= link_to 'Can I go back?', partners_path, style: "color: white" %>
  </button>
</div>
<%= render 'shared/footer'%>
