<div class="container">
  <%= render 'shared/form', partner: @partner %>
  <button type="button" class="link-index-button btn-back btn-appointment" style="color: #344F73; font-family: montserrat;">
  <%= link_to 'Map', partners_path %>
  </button>
</div>
<%= render 'shared/footer'%>
