<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.npr.org/assets/img/2016/09/01/narcos_203_00873r1_wide-775f1c1b8a3fe57cb17da8361e5e1c165e90d12f.jpg);">
  <div class="container">
    <h1>Do you feel <span id="typed"></span></h1>
    <p>You shouldn't, nobody should</p>
    <%= link_to 'Find ur Furendo ðŸ˜', partners_path, class: "btn btn-outline-info btn-lg" %>
  </div>
</div><br>
<%= render 'shared/footer_home'%>
