<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.everydayhealth.com/images/what-is-loneliness-guide-promo-rm-1440x810.jpg);">
  <div class="container">
    <h1>Rentaru Furendo</h1>
    <p>Do you feel lonely today ?</p>
    <%= link_to 'Rent your Furendo!', partners_path, class: "btn btn-danger" %>
  </div>
</div>
