.banner {
  background-size: cover;
  background-position: center;
  padding: 500px 0;
  max-width: 100%;
  height: auto;
  width: auto\9;
}

.banner h1 {
  margin: 0;
  color: #EFF6FF;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 73px;
  font-weight: bold;
}

.banner p {
  font-size: 30px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
