.map {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  align-content: center;
  background-color: #6e867a;
  color: #EFF6FF;
}

.map h1 {
  width: 100%;
  text-align: center;
}
