// legend ~ div.form-check:first-of-type {
//   clear: both;
// }

// #button-furendos {
// 	margin: 0 auto;
// 	justify-content: space-between;
// 	width: 80%;
//   min-width: 280px;
// }

#button-search {
  min-width: 280px;
}

#msg{
	background-color: #E6EBEE;
	color: #393B45;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
