<div class="container">
  <h1>My Appointments</h1>

  <ul class="list-unstyled">
    <% @appointments.each do |appointment| %>
      <li><div class="card-product">
        <% if appointment.partner.photo_url.attached? %>
          <%= cl_image_tag appointment.partner.photo_url.key, height: 120, width: 120, crop: :fill %>
        <% end %>
          <div class="card-product-infos">
          <h2>On <%= appointment.schedule_date %></h2>
          <p>I will spend good time with <strong><%= appointment.partner.last_name %></strong>!</p>
      </div></div></li>
    <% end %>
  </ul>

<%= link_to "go back to main page", partners_path %>
</div>
